*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content:  space-between;
    /* border: 1px solid red; */
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 60px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.banner{
    background-color: rgb(61, 132, 207);
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    margin-top: 40px;
}
.banner-info{
    text-align: center;
}

.banner-info img {
    width: 300px;
    border-radius: 100%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main div{
    padding: 20px;
}

main div p{
margin-top: 30px;
}
main img{
    width: 100%;
    border-radius: 40px;
}


footer{
    background-color: #66ade3;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}